#!/bin/bash

CNAME=XDS-tools
CDIST=docker.iot.bzh/iotbzh/XDS-tools:latest

DATADIR=/data/$CNAME

mkdir -p $DATADIR

# perms on volumes
mkdir -p $DATADIR/jenkins 

docker run --detach=true --net=none --hostname=$CNAME --name=$CNAME --privileged \
	-v /sys/fs/cgroup:/sys/fs/cgroup:ro \
	-i -t \
	-v $DATADIR/jenkins:/var/lib/jenkins \
	$CDIST /lib/systemd/systemd

docker-netstart $CNAME

